// Place all the styles related to the Pledges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

body {
  font-family: Tahoma, Helvetica, sans-serif;
  margin: 0;
  line-height: 1.5;

}
